In [1]:
import os
import glob
import datetime
import pandas as pd

In [2]:
dir = r'../../datasets/weekly'

def list_files(dir):
    csv_files = glob.glob(os.path.join(dir, "*.csv"))
    return csv_files

In [3]:
def get_dataframes(csv_files):
    df = pd.DataFrame()
    for f in csv_files:
        tmp = pd.read_csv(f)
        df = df.append(tmp)

    return df

In [4]:
csv_files = list_files(dir)
df = get_dataframes(csv_files)
df.head()

/tmp/ipykernel_8099/3712436210.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tmp)
/tmp/ipykernel_8099/3712436210.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tmp)
/tmp/ipykernel_8099/3712436210.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tmp)
/tmp/ipykernel_8099/3712436210.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tmp)

,id_group,id_subject,key,datapoint1,datapoint2,datapoint3,datapoint4,datapoint5,datapoint6,datapoint7,...,datapoint14,datapoint15,datapoint16,datapoint17,datapoint18,datapoint19,datapoint20,datapoint21,target,target_cat
0,9bfed789-7c64-4a37-b7b7-0410837b69bc,df026158-d4c1-464e-8e03-5a67823da112,Arthur Henrique Goncalves da Silva (18205796),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
1,9bfed789-7c64-4a37-b7b7-0410837b69bc,58141b2f-9817-4ca5-b78b-82695b4421c9,Gabriel da Silva Fonseca (18207614),8,2,0,0,0,0,0,...,0,4,0,0,13,15,0,0,0.0,1
2,9bfed789-7c64-4a37-b7b7-0410837b69bc,e5c0a827-05cb-4bcc-b258-5ba4c7d4237b,Natalia Bortoli Vieira (17203199),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
3,9bfed789-7c64-4a37-b7b7-0410837b69bc,6a06bf46-39b2-40ab-a463-89a5bf250113,William Sebastiao Teixeira (18205797),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
0,eae2b845-c97c-4617-bb59-60f0d0dd524a,a4052398-6fbe-4c2b-b545-ec14efdd8a27,Erica de Souza Pires (19103473),4,0,0,0,0,0,5,...,0,0,0,0,0,0,0,3,0.0,1

In [5]:
df.reset_index(drop=True, inplace=True)
df

,id_group,id_subject,key,datapoint1,datapoint2,datapoint3,datapoint4,datapoint5,datapoint6,datapoint7,...,datapoint14,datapoint15,datapoint16,datapoint17,datapoint18,datapoint19,datapoint20,datapoint21,target,target_cat
0,9bfed789-7c64-4a37-b7b7-0410837b69bc,df026158-d4c1-464e-8e03-5a67823da112,Arthur Henrique Goncalves da Silva (18205796),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
1,9bfed789-7c64-4a37-b7b7-0410837b69bc,58141b2f-9817-4ca5-b78b-82695b4421c9,Gabriel da Silva Fonseca (18207614),8,2,0,0,0,0,0,...,0,4,0,0,13,15,0,0,0.0,1
2,9bfed789-7c64-4a37-b7b7-0410837b69bc,e5c0a827-05cb-4bcc-b258-5ba4c7d4237b,Natalia Bortoli Vieira (17203199),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
3,9bfed789-7c64-4a37-b7b7-0410837b69bc,6a06bf46-39b2-40ab-a463-89a5bf250113,William Sebastiao Teixeira (18205797),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
4,eae2b845-c97c-4617-bb59-60f0d0dd524a,a4052398-6fbe-4c2b-b545-ec14efdd8a27,Erica de Souza Pires (19103473),4,0,0,0,0,0,5,...,0,0,0,0,0,0,0,3,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0a7b8b7b-e81b-473d-b8b1-183800384950,60de118a-4091-43c5-811f-994c8ed348cd,Luiz Felipe Sartor GÃ³es (18102079),0,0,2,0,3,0,0,...,0,0,0,1,0,0,0,0,0.0,1
99,0a7b8b7b-e81b-473d-b8b1-183800384950,bbe01d77-f165-408e-8ad4-271069f0627b,Luiza Carolina Miranda Garcia (19207037),4,17,4,8,15,0,15,...,5,114,23,16,60,6,19,0,9.0,0
100,0a7b8b7b-e81b-473d-b8b1-183800384950,088323be-d769-48ee-bb93-411504e6fd5a,Marco Antonio Accorsi Lisboa Filho (18204422),0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,1
101,0a7b8b7b-e81b-473d-b8b1-183800384950,25a52caf-a289-4c16-9c79-e5238710581b,Mateus Scheffer Freitas (21101353),8,12,25,1,19,12,63,...,45,86,203,71,109,4,15,5,10.0,0
102,0a7b8b7b-e81b-473d-b8b1-183800384950,061bf622-142d-4647-8ef7-5d0ca9585249,Ruan Pierre Idalino da Rosa (21100704),6,9,19,1,4,3,0,...,0,7,2,0,1,4,2,0,8.0,0

In [6]:
row = list(df)
size = len(row)

df_sum = df.loc[:, row[3]:row[size-3]].sum(axis=1).reset_index()
df_sum.rename(columns={0:'sum'}, inplace=True)
df_sum

     index  sum
0        0    0
1        1   42
2        2    0
3        3    0
4        4   12
..     ...  ...
98      98    6
99      99  488
100    100    2
101    101  921
102    102   98

[103 rows x 2 columns]

In [7]:
df_sum["target"] = df["target"]
df_sum["target_cat"] = df["target_cat"]
df_sum

     index  sum  target  target_cat
0        0    0     0.0           1
1        1   42     0.0           1
2        2    0     0.0           1
3        3    0     0.0           1
4        4   12     0.0           1
..     ...  ...     ...         ...
98      98    6     0.0           1
99      99  488     9.0           0
100    100    2     0.0           1
101    101  921    10.0           0
102    102   98     8.0           0

[103 rows x 4 columns]

In [8]:
today_ts = datetime.datetime.now()
today_ts = today_ts.strftime("%d-%m-%Y-%H-%M")

df_sum.to_csv("../preprocessing-results/p1.csv".format(today_ts), sep=',', encoding='utf-8', index=False)